<!-- trash bin -->
<!-- <i class='bx bx-trash'></i> -->
<div class="main">
    <div class="profile">
        <div class="profile-blok">
            <!-- <img [src]="default_User" alt=""> -->
            <img src="movie.jpg" alt="">
        </div>
        <div class="profile-img">
            <!-- <img [src]="default_User" alt=""> -->
            <img src="zoro.jpg" alt="">
        </div>

    </div>
    <div class="profile-details">
        <div class="user-details">

            <!-- <h2>{{current_user.username}}</h2> -->
            <h2>arun</h2>
            <!-- <p>{{current_user.email}}</p> -->
            <p>arun&#64;gmail.com</p>
        </div>
    </div>



    <table>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
            <th>Delete</th>
        </tr>

        <tr>
            <td>Godzilla X Kong</td>
            <td>December 12 2024</td>
            <td>Movie</td>
            <td><i class='bx bx-trash'></i></td>
        </tr>
        <tr>
            <td>Godzilla X Kong</td>
            <td>December 12 2024</td>
            <td>Movie</td>
            <td><i class='bx bx-trash'></i></td>
        </tr>

    </table>
</div>