@if(blogview){


<div class="main">
    <div class="layout">
        <div class="title">
            <h1>{{blogview.title}}</h1>
        </div>

        <div class="main_content">
            <div class="blogimg">
                <img src="data:{{blogview.extention}};base64,{{blogview.image}}" alt="blogview img">

            </div>
            <div class="frofile">
                <div class="profile_image">
                    <img src="data:{{blogview.authors.extention}};base64,{{blogview.authors.user_profile}}" alt="">
                </div>
                <div class="username">
                    <p>{{blogview.authors.username}}</p>
                    <p>{{blogview.date | date:'longDate'}}</p>
                </div>
                <div class="like_comment">
                    <div class="like">
                        <p (click)="addLike(blogview._id)">
                            @if(liked){
                            <i class='bx bxs-like'></i>
                            }
                            @else{<i class='bx bx-like'></i>}{{likes_length}}
                        </p>
                    </div>
                    <div class="cmt">
                        <p><i class='bx bx-chat'></i>{{comment_length}}</p>
                    </div>
                </div>
            </div>
            <div class="subtitle">
                <h3>{{blogview.body | slice}} </h3>
            </div>

            <div class="contents">
                <p>{{blogview.body}}</p>
            </div>

            <input type="text" placeholder="Comments..." [(ngModel)]="comment"> <button
                (click)="addComment(blogview._id)"><i class='bx bx-send'></i></button>
        </div>
    </div>
    <div class="comments">
        @for(comment of blogview.blog_comments;track comment;let ci=$index){


        <div class="comment">
            <div class="comment_profile">
                <img src="data:{{comment.comment_users.extention}};base64,{{comment.comment_users.user_profile}}"
                    alt="">
            </div>
            <div class="comment_body">
                <p>{{comment.comment_users.username}}</p>
                <p>{{comment.date |date}}</p>
                <p>{{comment.comment}}</p>

                <input type="text" placeholder="replay..." name="replay" #replay><button
                    (click)="addReplay(comment._id,replay.value)" type="submit"><i class='bx bx-send'></i></button>

                @for(replay of comment.comment_replays;track replay;let ri=$index){
                <div class="replay">
                    <div class="replay_profile">
                        <img src="data:{{replay.replay_users.extention}};base64,{{replay.replay_users.user_profile}}"
                            alt="">

                    </div>
                    <div class="replay_body">
                        <p>{{replay.replay_users.username}}</p>
                        <p>{{replay.date |date}}</p>
                        <p> {{replay.replay}}</p>
                    </div>
                </div>
                }
                @empty{

                }

            </div>
        </div>


        }
        @empty{
        <h5>no comments yet</h5>
        }
    </div>
</div>
}