section {
    margin: 5px auto;
    width: 100%;
}

section .post {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 20px;
    /* min-height: 90vh;
   max-height: fit-content; */
    padding: 6px;
   

}

section .post .item {
    padding: 14px;
    border-radius: 10px;
    height: 330px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

section .post .item:hover {
    scale: 1.02;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section .post .item .image {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}

section .post .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .post .item h5 {
    color: #5a5096;
    margin-top: 2px;
    margin-bottom: 2px;
}

section .post .item h3 {
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 5px;
}

section .post .item span {
    font-size: smaller;
    font-weight: bolder;
}

section .post .item p {
    font-size: smaller;
    font-weight: bolder;
    margin: 3px 0px;
}

section .post .item .profile {
    width: 94%;
    display: flex;
    overflow: hidden;
    height: 32px;
    position: absolute;
    bottom: 10px;
    justify-content:space-between;
}
section .post .item .profile .pf-profile{
   display:flex;
   align-items: center;
}

section .post .item .profile .pf-profile .pf-img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 3px solid rgba(106, 93, 184, 0.8);
    margin-left: 0px;
    overflow: hidden;
}

section .post .item .profile .pf-profile .pf-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .post .item .profile .pf-profile .username .name {
    margin: auto 5px;
    text-transform: capitalize;
   
    
}
section .post .item .profile .like-cmnt p {
    display: flex;
    align-items: center;
    align-content: center;
}

section .post .item .profile .like-cmnt .cmnt ,
section .post .item .profile .like-cmnt .like {
    font-weight: bolder;
    font-size: 20px;
    color: rgba(106, 93, 184, 0.8);
}
section .post .item .profile .like-cmnt .like{
    margin-left: 5px;
}